.App {
  text-align: center;
  justify-content: center
}

button {
  all: unset;
  cursor: pointer;
}

input {
  all: unset
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 45px;
  cursor: pointer;
  background-color: rgb(184, 130, 255);
  color: white;
  text-transform: uppercase;
  outline: inherit;
}

.input {
  padding: 10px;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 45px;
  border: solid;
  border-width: 1px;
  border-color: rgb(31, 30, 30);

}

.input-section {
  display: flex;
  position: relative;
  flex-flow: column wrap;
  align-items: center;
}

.qrcode-section {
  display: inline-grid;
}